---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="flex flex-col mt-8 px-12 w-full overflow-y-scroll pb-4 max-sm:px-4">
        <p class="w-full py-2 rounded-md text-center font-bold bg-[#262322] max-sm:text-sm px-2">"Life's too short to waste a minute"</p>
        <div class="flex flex-col mt-8">
            <h3 class="font-bold text-lg">About Me</h3>
            <p class="text-sm mt-4 text-[#F1DAC4] font-semibold max-sm:text-xs">
                I'm a 17-year-old full-stack web developer and entrepreneur from London with 3 years of experience crafting high quality websites for many clients. I am supremely well versed in Typescript, Node.js, HTML, Tailwind, SvelteKit, Supabase and many more tools and frameworks. I learn quick and I'm always looking to learn more.
                <br /> <br /> I am also interested in other aspects of computing like machine learning, networking, cybersecurtiy, systems engineering and more.
                <br /> <br /> Read more about the things I'm good at <a class="text-white font-bold" href="/skills">here</a>.
            </p>
        </div>
    </div>
</MainLayout>