---
import "../styles/global.css";
---

<div class="flex flex-col items-center w-screen h-screen bg-design-two-primary border-y-4 border-solid border-design-two-accent">
    <div class="w-5/6 flex flex-col h-screen py-16 max-2xl:w-11/12">
        <div class="nav flex flex-row w-full justify-between max-md:flex-col-reverse max-md:items-center">
            <!-- <div class="flex flex-row max-md:ml-4 max-md:mt-8">
                <div class="color-change-icon border-design-two-accent bg-design-two-primary mr-2"></div>
                <div class="color-change-icon border-design-two-peach bg-design-two-purple mr-2"></div>
                <div class="color-change-icon border-design-two-teal bg-design-two-carbon mr-2"></div>
                <div class="color-change-icon border-design-two-turquoise bg-design-two-burgundy mr-2"></div>
                <div class="color-change-icon border-design-two-dark-purple bg-design-two-carbon mr-2"></div>
                <div class="color-change-icon border-design-two-teal bg-design-two-dark-blue mr-2"></div>
            </div> -->
            <div class="flex flex-row md:items-center">
                <a href="/" class="nav-link text-design-two-accent underline underline-offset-8 decoration-2">About</a>
                <!-- <a href="/projects" class="nav-link text-white">Projects</a> -->
                <!-- <a href="/blog" class="nav-link text-white">Blog</a> -->
            </div>
        </div>
        <slot />
    </div>
</div>

<style>
    * {
        font-family: 'Prosto One', cursive;
    }

    .nav-link {
        @apply font-black ml-4 text-xl;
    }

    .color-change-icon {
        @apply w-8 h-8 rounded-full border-2 border-solid hover:cursor-pointer;
    }

    @keyframes slide-from-top {
        0% {
            transform: translateY(-40%);
            opacity: 0;
        }
        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    .nav {
        opacity: 0;
        animation: slide-from-top 1s forwards 0.8s;
    }
</style>