---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.jpg" />
		<meta name="viewport" content="width=device-width" />

        <!-- Primary Meta Tags -->
        <title>Oscar Falemara - Software Engineer</title>
        <meta name="title" content="Oscar Falemara - Software Engineer">
        <meta name="description" content="I'm a 17 year old, self-taught, full-stack web developer with over 2 years of experience. I code in Typescript and use Node.js, express.js, tRPC, SvelteKit, Tailwind, Python, Django, Rust, Next.js and more.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://oscarfal.vercel.app/">
        <meta property="og:title" content="Oscar Falemara - Software Engineer">
        <meta property="og:description" content="I'm a 17 year old, self-taught, full-stack web developer with over 2 years of experience. I code in Typescript and use Node.js, express.js, tRPC, SvelteKit, Tailwind, Python, Django, Rust, Next.js and more.">
        <meta property="og:image" content="/metatags-banner.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://oscarfal.vercel.app/">
        <meta property="twitter:title" content="Oscar Falemara - Software Engineer">
        <meta property="twitter:description" content="I'm a 17 year old, self-taught, full-stack web developer with over 2 years of experience. I code in Typescript and use Node.js, express.js, tRPC, SvelteKit, Tailwind, Python, Django, Rust, Next.js and more.">
        <meta property="twitter:image" content="/metatags-banner.png">

        <script>
            const navLinks = document.querySelectorAll("nav a");
        
            navLinks.forEach((link) => {
                link.classList.remove("active");
            
                const currentPath = window.location.pathname.slice("1");
            
                const hrefArray = link.href.split("/");
                const thisPath = hrefArray[hrefArray.length - 1];
            
                if (currentPath === thisPath) {
                    link.classList.add("active");
                };
            });
        </script>
    </head>
    <main>
        <div class="flex items-center justify-center w-screen h-screen bg-[#101216]">
            <div class="flex flex-col items-center w-[1280px] h-[800px] rounded-3xl border-4 border-solid border-[#8F877F] bg-gradient-to-b from-[#262322] to-[#F2E5D7] max-xl:h-full max-xl:w-full max-xl:border-none max-xl:rounded-none">
                <img
                    class="w-full rounded-t-3xl max-xl:rounded-none"
                    src="/banner.png"
                    alt="banner"
                />
                <div class="flex items-center justify-center w-full h-auto max-sm:h-full mt-16">
                    <div class="flex flex-row w-5/6 h-fit bg-[#262322] bg-opacity-60 rounded-xl max-sm:h-full">
                        <nav class="flex flex-col py-16">
                            <a
                                class=""
                                href="/"
                            >
                                About
                            </a>
                            <a
                                class="mt-16"
                                href="/skills"
                            >
                                Skills
                            </a>
                            <a
                                class="mt-16"
                                href="https://github.com/thereal-atom"
                            >
                                Projects
                            </a>
                        </nav>
                        <div class="h-5/6 w-0.5 mt-8 bg-[#262322]"></div>
                        <slot />
                    </div>
                </div>
                <div class="socials flex flex-row mt-4 bg-[#262322] bg-opacity-60 p-2 rounded-md max-sm mb-8">
                    <img
                        src="/socials/twitter.svg"
                        alt="twitter"
                    />
                    <img
                        src="/socials/github.svg"
                        alt="twitter"
                    />
                    <img
                        src="/socials/discord.svg"
                        alt="twitter"
                    />
                    <img
                        src="/socials/coffee.svg"
                        alt="twitter"
                    />
                    <img
                        src="/socials/linkedin.svg"
                        alt="twitter"
                    />
                </div>
            </div>
        </div>
    </main>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

    body {
        color: white;
    }

    * {
        font-family: 'Nunito Sans', sans-serif;
    }

    nav a {
        @apply font-bold text-2xl px-4 py-2 rounded-md text-center -rotate-90 max-sm:text-sm max-sm:px-1;
    }

    a.active {
        @apply bg-[#262322];
    }

    .socials img {
        @apply mx-4;
    }
</style>